* {
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    float: left;
    padding: 40px;
   
  }

  .left {
    width: 35%;
  }

  .right {
    width: 65%;
  }

  /* Clear floats after the columns */
 .row:after {
    content: "";
    display: table;
    clear: both;
    position: relative;
    z-index: 1;
  }

  .imgcontent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }

    .captcha {
        position: relative;
        width: 490px; /* Match the image width */
      }

    .touchbutton {
        position: absolute;
        top: 225px; /* Adjust these values to place the button */
        left: 43px; /* Adjust these values to place the button */
        width: 100px; 
        height: 100px;
        opacity: 0;
        border: none;
        background: none;
      }


    .b2 {
        position: absolute;
        top: 225px; /* Adjust these values to place the button */
        left: 229px; /* Adjust these values to place the button */
        width: 100px; 
        height: 100px;
        opacity: 0;
        border: none;
        background: none;
      }


    .b3 {
        position: absolute;
        top: 225px; /* Adjust these values to place the button */
        left: 388px; /* Adjust these values to place the button */
        width: 100px; 
        height: 100px;
        opacity: 0;
        border: none;
        background: none;
      }

    .b4 {
        position: absolute;
        top: 375px; /* Adjust these values to place the button */
        left: 68px; /* Adjust these values to place the button */
        width: 100px; 
        height: 100px;
        opacity: 0;
        border: none;
        background: none;
      }

    .b5 {
        position: absolute;
        top: 375px; /* Adjust these values to place the button */
        left: 229px; /* Adjust these values to place the button */
        width: 100px; 
        height: 100px;
        opacity: 0;
        border: none;
        background: none;
      }

    .b6 {
        position: absolute;
        top: 545px; /* Adjust these values to place the button */
        left: 388px; /* Adjust these values to place the button */
        width: 100px; 
        height: 100px;
        opacity: 0;
        border: none;
        background: none;
      }
     
    .b7 {
        position: absolute;
        top: 545px; /* Adjust these values to place the button */
        left: 229px; /* Adjust these values to place the button */
        width: 100px; 
        height: 100px;
        opacity: 0;
        border: none;
        background: none;
      }



    .smilebutton {
        position: absolute;
        top: 375px; /* Adjust these values to place the button */
        left: 363px; /* Adjust these values to place the button */
        width: 100px; 
        height: 100px;
        opacity: 0;
        border: none;
        background: none;
      }

    .breathbutton {
        position: absolute;
        top: 545px; /* Adjust these values to place the button */
        left: 43px; /* Adjust these values to place the button */
        width: 100px; 
        height: 100px;
        opacity: 0;
        border: none;
        background: none;
        width: 100px; 
        height: 100px;
        opacity: 0;
        border: none;
        background: none;
      }

    .verifybutton {
        position: absolute;
        top: 650px; /* Adjust these values to place the button */
        left: 383px; /* Adjust these values to place the button */
        width: 300px; 
        height: 150px;
        opacity: 0;
        border: none;
        background: none;
      }

      .retrybutton {
        position: absolute;
        top: 120px; /* Adjust these values to place the button */
        left: 63%; /* Adjust these values to place the button */
       
      }

      /* Container for maintaining aspect ratio */
      .scframe {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 aspect ratio (change this value to desired ratio) */
        height: 0;
        overflow: hidden;
    }

    /* Responsive iframe */
    .scframe iframe {
        position: absolute;
        top: 27%;
        left: 20%;
        width: 120%;
        height: 100%;
        border: none;
    }

    .tcframe {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%; /* 16:9 aspect ratio (change this value to desired ratio) */
      height: 0;
      overflow: hidden;
  }


    .tcframe iframe {
      position: absolute;
      top: 20%;
      left: 10%;
      width: 100%;
      height: 105%;
      border: none;
  }

  .faildiv {
    

    position: relative;
    left: 30%;
    border: 5px rgb(182, 182, 182);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    background-color: red; 
    padding: 20px;
    width: fit-content;
    border-style: solid
    
  }

  
  
  


    